.home {
	background-image: url(http://www.barrymellorphotography.co.uk/assets/Uploads/landscapes-13.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 35px !important;
	text-align: center !important;
	color: white !important;
}

.jumbotron {
	height: 80% !important;
	padding: 2% !important;
}

li {
	display: inline-block;
	margin-right: 15px;
}

.navbar {
	margin-bottom: 0px !important;
}

html, body {
	height: 100% !important;
}


#name {
	font-size: 100px !important;
	margin-top: 0px !important;
}

#subtitle {
	margin-top: 60px !important;
}

#footer {
	margin-bottom: 0px !important;
}

i {
	display: inline;
}

#signin {
	display: inline;
}

#login {
	margin-top: 10% !important;
	margin: auto;
	width: 90% !important;
}

.grid-item {
	background-color: white;
	padding: 2% !important;
	border-radius: 5px;
	max-width: 20% !important;
	text-align: center;
	height: auto;
}

.divider {
	border-top: 2px solid gray;
	margin-bottom: 2% !important;
}

.grid {
	margin: 2% !important;
}

.imagebox {
	border: .5px solid gray;
	height: 50% !important;
}

#addspot, #spotOn {
	height: 90% !important;
	background-color: white;
	width: 40% !important;
}

.popup {
	margin: 3% !important;
	border-radius: 2px !important;
}


#newspot {
	margin-right: 2% !important;
}

.imagebox {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


.glyphicon-heart, .glyphicon-eye-open {
	float: left;
	top: 3px !important;
}

.header {
	margin-top: 10px !important;
}

img {
	max-width: 100%;
}

.close {
	border: none;
	float: left !important;
	line-height: 1.5 !important;
}

.badges {
	float: right;
	color: black !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

.tracker {
	font-size: 14px !important;
	margin-bottom: 0px !important;
	float: right !important;
	line-height: 2.25 !important;
	margin-left: 4% !important;
	margin-right: 3% !important;
}

li p {
	padding: 15px !important;
	color: #777 !important; 
}

.owner {
	float: left !important;
	line-height: 1.5 !important;
	font-size: 16px !important;
}