div(class="jumbotron home")
	h1(id="name" class="home") #SpotOn
	h2(id="subtitle" class="home") Discover and share images that are #spoton 
p(id="footer") Image credit www.barrymellorphotography.co.uk